.outerborder {
  border: 1px;
  border-radius: 5px 5px 5px 5px;
  border-style: solid;
  width: 340px;
  padding: 20px;
  justify-content: center;
}
.content {
  width: 300px;
  height: 80px;
  justify-content: center;
  border: 1px;
  border-radius: 5px 5px 5px 5px;
  border-style: solid;
  font-size: 20px;
  background-color: rgb(132, 139, 145);
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.counter {
  justify-content: center;
  width: 300px;
  border: 1px;
  border-radius: 5px 5px 5px 5px;
  border-style: solid;
  font-size: 60px;
  background-color: rgb(132, 139, 145);
  padding: 20px;
}
.counterStop {
  justify-content: center;
  width: 300px;
  border: 1px;
  border-radius: 5px 5px 5px 5px;
  border-style: solid;
  font-size: 60px;
  background-color: rgb(132, 139, 145);
  padding: 20px;
  color: red;
}
.buttonContainer {
  padding: 20px;
  width: 300px;
  border: 1px;
  border-color: rgb(132, 139, 145);
  border-style: solid;
  border-radius: 5px 5px 5px 5px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  column-gap: 20px;
}
.incorrectValue {
  display: flex;
  justify-content: center;
  color: red;
  font-size: 60px;
}
.input {
  display: flex;
  width: 40px;
  margin-left: 40px;
  border-radius: 3px;
  border: 1px solid black;
  text-align: center;
  font-size: 15px;
}
.inputError {
  display: flex;
  width: 40px;
  margin-left: 40px;
  border-radius: 10px;
  border: 2px solid red;
  text-align: center;
}

.inputText {
  display: flex;
  justify-content: center;
}
